<template>
  <div class="attendance" v-if="competition">
    <h1>{{competition.title}}</h1>
    <p>Attendance</p>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
      <div v-for="skill in attendance.skillArea" :key="skill.skill_name" class="skill_area" >
        <p class="skill_name">{{skill.skill_name}}</p>
        <div v-for="delegate in skill.delegates" :key="delegate.id" class="delegate" :class="{'no-info':!delegate.userInfo,'not-verified':!delegate.verified, 'present': delegate.present }">
          <p>{{tileCase(delegate.name)}}</p>
          <p class="role">{{delegate.role.name}} - {{delegate.member_name}}</p>
          <p style="font-size: .8em; " v-if="!delegate.verified || !delegate.userInfo"><span v-if="!delegate.verified">Not Verified</span> | <span v-if="!delegate.userInfo">No Information</span></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

// @ is an alias to /src
import axios from 'axios'
const io = require('socket.io-client')

export default {
  name: 'Attendance',
  components: {
  },
  data () {
    return {
      competition: null,
      io: null
    }
  },
  mounted () {
    axios.get('https://api.worldskills-api.test/attendance_sheet/1').then(data => {
      this.competition = data.data
      this.init()
    })
  },
  computed: {
    attendance () {
      return this.competition.delegates.reduce((container, item) => {
        if (item.participation) {
          const skillArea = container.skillArea.find(skill => skill.skill_name === item.participation.skill_name)
          item.info.role = item.role
          item.info.member_name = (item.member.classification === 'provincial') ? item.member.member_parent_name : item.member.member_name
          if (skillArea) {
            skillArea.delegates.push(item.info)
          } else {
            container.skillArea.push({ skill_name: item.participation.skill_name, delegates: [item.info] })
          }
        }
        return container
      }, {
        skillArea: []
      })
    }
  },
  methods: {
    tileCase (strings) {
      let temp = strings.toLowerCase().split(' ')
      temp = temp.map(s => {
        return s.charAt(0).toUpperCase() + s.slice(1)
      })
      return temp.join(' ')
    },
    init () {
      this.io = io('https://wsph.pinwheel-developers.com')
      this.io.on('new_attendance', (data) => {
        this.competition.delegates.find((delegate) => {
          if (delegate.info.userInfo) {
            if (delegate.info.userInfo.uuid === data.data.uuid) {
              delegate.info.present = true
              return delegate
            }
          }
        })
      })
      this.io.on('init', (data) => {
        data.forEach((uuid) => {
          console.log(this.competition)
          this.competition.delegates.find((delegate) => {
            if (delegate.info.userInfo) {
              if (delegate.info.userInfo.uuid === uuid) {
                delegate.info.present = true
                return delegate
              }
            }
          })
        })
      })
    }
  }
}
</script>

<style scoped>
* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}
.skill_area {
  flex-basis: 24%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 5px;
  background-color: gray;
  color: white;
}

.skill_name {
  font-size: 1.4em;
  padding: 5px;
}
.delegate{
  background-color: whitesmoke;
  margin: 1px;
  padding: 5px;
  color:black;
}

.role{
  font-size: 0.8em;
}

.not-verified {
  border-left: red 5px solid;
}

.no-info {
  border-bottom: orange 5px solid;
}

.present {
  background-color: green;
  color: white;
}
</style>
