<template>
  <div class="camera">
    <video id="preview"></video>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
const Instascan = require('instascan')
const io = require('socket.io-client')
export default {
  name: 'Camera',
  data () {
    return {
      scanner: null,
      io: null
    }
  },
  mounted () {
    this.io = io('https://wsph.pinwheel-developers.com')
    this.scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false })
    this.scanner.addListener('scan', (content) => {
      axios.post('https://api.worldskills-api.test/attendance', { withCredentials: true, data: content }).then(data => {
        this.socket.emit('attendance', data)
      })
    })
    Instascan.Camera.getCameras().then((cameras) => {
      console.log(cameras)
      if (cameras.length > 0) {
        this.scanner.start(cameras[0])
      } else {
        console.error('No cameras found.')
      }
    }).catch(function (e) {
      console.error(e)
    })
  }
}
</script>
